@model Firma.Data.Model.Kontrahent
@using Firma.Intranet.ViewResources
@{
    ViewData["Title"] = @Resource.Usuwanie;
}
<h1>@Resource.Usuwanie</h1>
<h3>@Resource.CzyNapewno1</h3>
<div>
    <h4>@Resource.Kontrahent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Akronim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Akronim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SposobPlatnosci)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SposobPlatnosci.Nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CzyAktywny)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CzyAktywny)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdKontrahenta" />
        <input type="submit" value=@Resource.Usun class="btn btn-danger" /> |
        <a asp-action="Index">@Resource.PowrotDoListy</a>
    </form>
</div>
