@model IEnumerable<Firma.Data.Model.Kontrahent>
@using Firma.Intranet.ViewResources
@{
    ViewData["Title"] = @Resource.Kontrahenci;
}
<h1>@Resource.Kontrahenci</h1>
<p>
    <a asp-action="Create">@Resource.DodajNowyEl</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Akronim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SposobPlatnosci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CzyAktywny)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Akronim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SposobPlatnosci.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CzyAktywny)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdKontrahenta">@Resource.Edycja</a> |
                    <a asp-action="Details" asp-route-id="@item.IdKontrahenta">@Resource.Szczegoly</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdKontrahenta">@Resource.Usun</a>
                </td>
            </tr>
        }
    </tbody>
</table>
