@model Firma.Data.Model.ZlecenieKompletacji
@using Firma.Intranet.ViewResources
@{
    ViewData["Title"] = @Resource.DodajNowyEl;
}
<h1>@Resource.DodajNowyEl</h1>
<h4>@Resource.ZlecenieKompletacji</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdKontrahenta" class="control-label"></label>
                <select asp-for="IdKontrahenta" class="form-control" asp-items="ViewBag.IdKontrahenta"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataWystawienia" class="control-label"></label>
                <input asp-for="DataWystawienia" class="form-control" />
                <span asp-validation-for="DataWystawienia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OczekiwanaDataRealizacji" class="control-label"></label>
                <input asp-for="OczekiwanaDataRealizacji" class="form-control" />
                <span asp-validation-for="OczekiwanaDataRealizacji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PotwierdzonaDataRealizacji" class="control-label"></label>
                <input asp-for="PotwierdzonaDataRealizacji" class="form-control" />
                <span asp-validation-for="PotwierdzonaDataRealizacji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProduktu" class="control-label"></label>
                <select asp-for="IdProduktu" class="form-control" asp-items="ViewBag.IdProduktu"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ilosc" class="control-label"></label>
                <input asp-for="Ilosc" class="form-control" />
                <span asp-validation-for="Ilosc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMontera" class="control-label"></label>
                <select asp-for="IdMontera" class="form-control" asp-items="ViewBag.IdMontera"></select>
            </div>
            <div class="form-group">
                <label asp-for="Priorytet" class="control-label"></label>
                <input asp-for="Priorytet" class="form-control" />
                <span asp-validation-for="Priorytet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CzasZlecenia" class="control-label"></label>
                <input asp-for="CzasZlecenia" class="form-control" />
                <span asp-validation-for="CzasZlecenia" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CzyAktywne" checked="true" /> @Html.DisplayNameFor(model => model.CzyAktywne)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value=@Resource.Zapisz class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">@Resource.PowrotDoListy</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
