<nav class="green" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
            <li>@Html.ActionLink("O firmie", "About", "Home")</li>
            <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
            @*<li>@Html.ActionLink("Koszyk", "Index", "Cart")</li>*@
            <li><a asp-action="Index" asp-controller="Cart">Koszyk</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
            <li>@Html.ActionLink("O firmie", "About", "Home")</li>
            <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>