@model IEnumerable<Firma.Data.Model.TypCeny>
@using Firma.Intranet.ViewResources
@{
    ViewData["Title"] = @Resource.TypyCen;
}
<h1>@Resource.TypyCen</h1>
<p>
    <a asp-action="Create">@Resource.DodajNowyEl</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Typ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uwagi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CzyAktywny)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Typ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uwagi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CzyAktywny)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdTypuCeny">@Resource.Edycja</a> |
                    <a asp-action="Details" asp-route-id="@item.IdTypuCeny">@Resource.Szczegoly</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdTypuCeny">@Resource.Usun</a>
                </td>
            </tr>
        }
    </tbody>
</table>
